In [36]:
import numpy as np
import pandas as pd

### Question 1

In [103]:
def DecTo(num):
    strBin=bin(num)[2:len(bin(num))]
    strOct=oct(num)[2:len(oct(num))]
    strHex=hex(num)[2:len(hex(num))]
    print('Binary:'+strBin+', Octal:'+strOct+', Hexadecimal:'+strHex)
DecTo(31)

Binary:11111, Octal:37, Hexadecimal:1f

In [2]:
df = pd.read_csv(r'cast.csv')

In [5]:
df.head()

                               title  year       name   type character     n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22.0
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself   NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27.0
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3.0
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself   NaN