In [1]:
import numpy as np
import pandas as pd

## Part 1

In [2]:
def DecTo(num):
    strBin=bin(num)[2:len(bin(num))]
    strOct=oct(num)[2:len(oct(num))]
    strHex=hex(num)[2:len(hex(num))]
    print('Binary:'+strBin+', Octal:'+strOct+', Hexadecimal:'+strHex)
DecTo(31)

Binary:11111, Octal:37, Hexadecimal:1f

## Part 2

In [2]:
df = pd.read_csv(r'cast.csv')

In [4]:
df.head()

                               title  year       name   type character     n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22.0
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself   NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27.0
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3.0
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself   NaN

#### How many movies have the title "Hamlet"?

In [5]:
count = 0
for i in range(len(df["title"])):
    if "Hamlet" in df["title"][i]:
        count+=1
print("There are",count,"movies that have the title \"Hamlet\".")

There are 891 movies that have the title "Hamlet".

#### List all of the "Treasure Island" movies from earliest to most recent.

In [6]:
# Find all 'Treasure Island' films
count = 0
for i in range(len(df["title"])):
    if "Treasure Island" in df["title"][i]:
        count+=1
print("There are",count,"movies that have the title \"Treasure Island\".")

There are 524 movies that have the title "Treasure Island".

In [7]:
# Filter the data to have only 'Treasure Island' films
tempDf = {'title': [],
          'year': [],
          'name': [],
          'type': [],
          'character': [],
          'n': []
         }
tempDf = pd.DataFrame(tempDf)

for i in range(len(df["title"])):
    if "Treasure Island" in df["title"][i]:
        new_row = df.iloc[i]
        tempDf = tempDf.append(new_row, ignore_index=True)
len(tempDf)

524

In [8]:
g = tempDf.groupby('year')
g.min()

,title,name,type,character,n
year,,,,,
1918.0,Treasure Island,Buddy Messinger,actor,Ben Gunn,1.0
1920.0,Treasure Island,Al W. Filson,actor,Merry,1.0
1934.0,Treasure Island,A.B. Lane,actor,Allan,1.0
1938.0,The Secret of Treasure Island,Blackie Whiteford,actor,Ambulance Attendant,1.0
1939.0,Charlie Chan at Treasure Island,Al Kikume,actor,Abdul,1.0
1950.0,Treasure Island,Andrew Blackett,actor,Bart,1.0
1954.0,Return to Treasure Island,Charles Horvath,actor,Capt. Cardigan,1.0
1957.0,Five on a Treasure Island,Daga,actor,Ann,1.0
1972.0,Treasure Island,?ngel del Pozo,actor,Anderson,1.0
1973.0,Treasure Island,Dal McKennon,actor,Bearded sailor,1.0
1985.0,Treasure Island,Anna Karina,actor,Aunt,1.0
1996.0,Muppet Treasure Island,Andrew Spooner,actor,Additional Muppet Performer,1.0
1999.0,Treasure Island,Al Ashton,actor,Admiral,1.0
2006.0,Pirates of Treasure Island,Adele Pascoe,actor,Andrew Jackson,1.0
2015.0,National Theatre Live: Treasure Island,Aidan Kelly,actor,Ben Gunn,1.0

#### How many roles were credited in the silent 1921 version of Hamlet?

In [9]:
mylist=[]
for i in range(len(df["title"])):
    if ("Hamlet" in df["title"][i]) and (df["year"][i]==1921):
        mylist.append(i)
mylist

[6710, 408456, 495468, 1015046, 1948795, 2116906, 2370048, 2713980, 2964897]

In [11]:
print("There were",len(mylist),"credited roles.")

There were 9 credited roles.

#### Use groupby() to plot the number of "Hamlet" films made each decade

In [12]:
# Since there are 891 'Hamlet' films, we need to filter the data to have only 'Hamlet' films
tempDf = {'title': [],
          'year': [],
          'name': [],
          'type': [],
          'character': [],
          'n': []
         }
tempDf = pd.DataFrame(tempDf)

for i in range(len(df["title"])):
    if "Hamlet" in df["title"][i]:
        new_row = df.iloc[i]
        tempDf = tempDf.append(new_row, ignore_index=True)
len(tempDf)

891

In [31]:
g = tempDf.groupby('year')

numFilms = {'1910-1920' : 0, '1920-1930' : 0, '1930-1940' : 0, '1940-1950' : 0, '1950-1960' : 0,
            '1960-1970' : 0,  '1970-1980' : 0,  '1980-1990' : 0, '1990-2000' : 0, 
            '2000-2010' : 0, '2010-2020' : 0}

for year in g:
    temp = year[0]
    if temp>=1910 and temp<1920:
        numFilms['1910-1920']+=len(year[1])
        continue
    if temp>=1920 and temp<1930:
        numFilms['1920-1930']+=len(year[1])
        continue
    if temp>=1930 and temp<1940:
        numFilms['1930-1940']+=len(year[1])
        continue
    if temp>=1940 and temp<1950:
        numFilms['1940-1950']+=len(year[1])
        continue
    if temp>=1950 and temp<1960:
        numFilms['1950-1960']+=len(year[1])
        continue
    if temp>=1960 and temp<1970:
        numFilms['1960-1970']+=len(year[1])
        continue
    if temp>=1970 and temp<1980:
        numFilms['1970-1980']+=len(year[1])
        continue
    if temp>=1980 and temp<1990:
        numFilms['1980-1990']+=len(year[1])
        continue
    if temp>=1990 and temp<2000:
        numFilms['1990-2000']+=len(year[1])
        continue
    if temp>=2000 and temp<2010:
        numFilms['2000-2010']+=len(year[1])
        continue
    if temp>=2010 and temp<2020:
        numFilms['2010-2020']+=len(year[1])
        continue
numFilms

{'1910-1920': 38,
 '1920-1930': 18,
 '1930-1940': 17,
 '1940-1950': 25,
 '1950-1960': 1,
 '1960-1970': 78,
 '1970-1980': 37,
 '1980-1990': 18,
 '1990-2000': 109,
 '2000-2010': 294,
 '2010-2020': 256}

In [35]:
sum=0
for i in numFilms:
    sum+=numFilms[i]
sum

891

#### How many leading (n=1) roles were available to actors, and how many to actresses, in each year of the 1950s?

In [215]:
# Seperate the data to actors and actresses
g = df.groupby('type')
actor = g.get_group('actor')
actress = g.get_group('actress')

In [216]:
actors = {'1950' : 0, '1951' : 0, '1952' : 0, '1953' : 0, '1954' : 0,
          '1955' : 0, '1956' : 0, '1957' : 0, '1958' : 0, '1959' : 0}
actresses = {'1950' : 0, '1951' : 0, '1952' : 0, '1953' : 0, '1954' : 0,
             '1955' : 0, '1956' : 0, '1957' : 0, '1958' : 0, '1959' : 0}

In [217]:
# Actors
g = actor.groupby('n')
tempDf = g.get_group(1)
tempDf = tempDf.reset_index()
tempDf = tempDf.drop(columns = "index")
tempDf
for i in range(len(tempDf)):
    tempYear = tempDf['year'][i]
    if tempYear>=1950 and tempYear<1960:
        actors[str(tempYear)]+=1
    else:
        continue
print("Leading roles of actors each year:")
actors

Leading roles of actors each year:

{'1950': 604,
 '1951': 633,
 '1952': 591,
 '1953': 634,
 '1954': 626,
 '1955': 606,
 '1956': 614,
 '1957': 708,
 '1958': 694,
 '1959': 678}

In [218]:
# Actresses
g = actress.groupby('n')
tempDf = g.get_group(1)
tempDf = tempDf.reset_index()
tempDf = tempDf.drop(columns = "index")
tempDf
for i in range(len(tempDf)):
    tempYear = tempDf['year'][i]
    if tempYear>=1950 and tempYear<1960:
        actresses[str(tempYear)]+=1
    else:
        continue
print("Leading roles of actresses each year:")
actresses

Leading roles of actresses each year:

{'1950': 271,
 '1951': 272,
 '1952': 284,
 '1953': 290,
 '1954': 298,
 '1955': 264,
 '1956': 288,
 '1957': 284,
 '1958': 275,
 '1959': 287}

#### List the 10 actors/actresses that have the most leading roles (n=1) since the 1990's.

In [149]:
# Filter the data to have movies from 1990 only
g = df.groupby("year")
myList = []
for year in g:
    if year[0]<1990:
        continue
    else:
        myList.append(year)

In [150]:
tempDf = {'title': [],
          'year': [],
          'name': [],
          'type': [],
          'character': [],
          'n': []
         }
tempDf = pd.DataFrame(tempDf)

for i in range(len(myList)):
    tempDf = pd.concat([tempDf,myList[i][1]])

In [170]:
tempDf = tempDf.reset_index()
tempDf = tempDf.drop(columns = "index")
tempDf = tempDf.dropna()
tempDf
g = tempDf.groupby("n")

In [171]:
temp1 = g.get_group(1)
temp1 = temp1.reset_index()
temp1 = temp1.drop(columns = "index")
temp2 = temp1.groupby("name")

In [172]:
countDown = 10
myList=[]
maxNum = 0
maxName = ''

for i in range(countDown):
    for name in temp2:
        if len(name[1])>maxNum:
            maxNum=len(name[1])
            maxName=name[0]
        else:
            continue
    
    temp1 = temp1[temp1["name"]!=maxName]
    
    myList.append(maxName)
    maxNum = 0
    maxName = ''
    temp1 = temp1.reset_index()
    temp1 = temp1.drop(columns = "index")
    temp2 = temp1.groupby("name")

In [173]:
myList

['Mohanlal',
 'Mammootty',
 'Akshay Kumar',
 'Jayaram',
 'Andy Lau',
 'Ajay Devgn',
 'Amitabh Bachchan',
 'Eric Roberts',
 'Nagarjuna Akkineni',
 'Dilip']

In [183]:
k = g.get_group(1)
k = k.groupby("name")
k.get_group('Akshay Kumar')

,title,year,name,type,character,n
35567,Dancer,1991.0,Akshay Kumar,actor,Raju 'Raja',1.0
61319,Deedar,1992.0,Akshay Kumar,actor,Anand K. Malhotra,1.0
61320,Khiladi,1992.0,Akshay Kumar,actor,Raj Malhotra,1.0
61321,Mr. Bond,1992.0,Akshay Kumar,actor,Mr. Bond,1.0
87397,Ashaant,1993.0,Akshay Kumar,actor,Vijay,1.0
...,...,...,...,...,...,...
1068453,It's Entertainment,2014.0,Akshay Kumar,actor,Akhil Lokhande,1.0
1068454,The Shaukeens,2014.0,Akshay Kumar,actor,Akshay Kumar,1.0
1130589,Baby,2015.0,Akshay Kumar,actor,Ajay,1.0
1130590,Brothers,2015.0,Akshay Kumar,actor,David Fernandes,1.0
1130591,Gabbar is Back,2015.0,Akshay Kumar,actor,Aditya (Gabbar),1.0